@use "@cloudscape-design/design-tokens/index" as awsui;

.chat-container {
  display: flex;
  flex-direction: column;
  gap: awsui.$space-static-l;

  min-block-size: 100%;
  
  img {
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.05);
    }
  }

  &:not(.classic) {
    @media only screen and (min-width: 688px) and (max-width: 1280px) {
      padding-inline: 60px;
    }
  }

  &.classic {
    inline-size: 100%;
    block-size: 1000px;
  }
}

.messages {
  display: flex;
  flex-direction: column;
  gap: awsui.$space-scaled-xs;

  padding-block-start: awsui.$space-scaled-xxs;
  padding-block-end: awsui.$space-container-horizontal;
  padding-inline: awsui.$space-container-horizontal;
}

.access-denied-alert-wrapper {
  display: flex;
  gap: awsui.$space-scaled-s;

  &__box {
    flex: 1;
    overflow-x: auto;
    padding-inline: awsui.$space-scaled-m;
    padding-block: awsui.$space-scaled-s;
    border: 2px solid awsui.$color-border-input-default;
    border-radius: awsui.$border-radius-input;
    background: awsui.$color-background-input-default;
  }
}

.pdf-preview-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 150px;
  
  .react-pdf__Document {
      display: flex;
      justify-content: center;
      width: 100%;
  }

  .react-pdf__Page {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
  }
}

.thumbnail-container {
  cursor: pointer;
  transition: opacity 0.2s;
}

.thumbnail-container:hover {
  opacity: 0.8;
}